.hotdot/stage/
.hotdot/state
.hotdot/active_profile
stowable/nvim/
stowable/bashrc.d/
stowable/vscode/
stowable/gitignore/
stowable/gitconfig/sparow/
stowable/ssh/
stowable/sparow_tools/
stowable/bashrc.d/ouajih/
